<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="stylesheets/jquery-accordion-menu.css" rel="stylesheet" type="text/css" />
	<link href="stylesheets/font-awesome.css" rel="stylesheet" type="text/css" />
	<!-- 免費icon -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
	 crossorigin="anonymous">

	<style type="text/css">
		* {
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
		}

		body {
			background: #f0f0f0;
		}

		.content {
			width: 260px;
			margin-top: 20px;
			/* margin: 20px auto; */
		}

		.filterinput {
			background-color: rgba(249, 244, 244, 0);
			border-radius: 15px;
			width: 90%;
			height: 30px;
			border: thin solid #FFF;
			text-indent: 0.5em;
			font-weight: bold;
			color: #FFF;
		}

		#demo-list a {
			overflow: hidden;
			text-overflow: ellipsis;
			-o-text-overflow: ellipsis;
			white-space: nowrap;
			width: 100%;
		}
	</style>

</head>

<body>
	<!-- <div style="text-align:center;clear:both">
		<script src="/gg_bd_ad_720x90.js" type="text/javascript"></script>
		<script src="/follow.js" type="text/javascript"></script>
	</div> -->
	<div class="content">

		<div id="jquery-accordion-menu" class="jquery-accordion-menu red">
			<div class="jquery-accordion-menu-header" id="form"></div>
			<ul id="demo-list">

				<li class="active">
					<a data-step="1" data-intro="這裡可以看到小組現在收藏的文章" href="/studentPage?p_id=<%= p_id %>">
						<i class="fa fa-home"></i>文章收藏</a>
				</li>
				<!-- <div data-step="1" data-intro="請先輸入姓名"> -->
				<li>
					<a data-step="2" data-intro="搜尋想要蒐藏的文章" href="/S_article_Search?p_id=<%= p_id %>">
						<i class="fas fa-chalkboard-teacher"></i>教師協助</a>
					<!-- <span class="jquery-accordion-menu-label">
						9 </span> -->
				</li>
				<!-- </div> -->
				<li>
					<a data-step="3" data-intro="觀看完文章後，撰寫筆記" href="/student_Note?p_id=<%= p_id %>">
						<i class="fa fa-edit"></i>撰寫筆記 </a>

				</li>
				<li>
					<a data-step="4" data-intro="擬訂大綱" href="/student_Outline?p_id=<%= p_id %>">
						<i class="fas fa-list-ol"></i>撰寫大綱 </a>

				</li>
				<li>
					<a data-step="5" data-intro="觀看大綱心智圖，寫作小論文" href="/student_Write?p_id=<%= p_id %>">
						<i class="fas fa-file-alt"></i>文章寫作 </a>
				</li>
				<li>
					<a data-step="6" data-intro="專案的成員以及指導老師資訊" href="/student_Cloud?p_id=<%= p_id %>">
						<i class="fas fa-cloud"></i>關於專案</a>
				</li>
			</ul>
			<div class="jquery-accordion-menu-footer">
				中央大學 教學團隊
			</div>
		</div>
	</div>
	<script src="js/jquery-1.11.2.min.js" type="text/javascript"></script>
	<script src="js/jquery-accordion-menu.js" type="text/javascript"></script>
	<script type="text/javascript">
		(function ($) {
			$.expr[":"].Contains = function (a, i, m) {
				return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase()) >= 0;
			};
			function filterList(header, list) {
				//@header 头部元素
				//@list 无需列表
				//创建一个搜素表单
				var form = $("<form>").attr({
					"class": "filterform",
					action: "#"
				}), input = $("<input>").attr({
					"class": "filterinput",
					type: "text"
				});
				// $(form).append(input).appendTo(header);
				$(input).change(function () {
					var filter = $(this).val();
					if (filter) {
						$matches = $(list).find("a:Contains(" + filter + ")").parent();
						$("li", list).not($matches).slideUp();
						$matches.slideDown();
					} else {
						$(list).find("li").slideDown();
					}
					return false;
				}).keyup(function () {
					$(this).change();
				});
			}
			$(function () {
				filterList($("#form"), $("#demo-list"));
			});
		})(jQuery);	
	</script>

	<script type="text/javascript">

		jQuery("#jquery-accordion-menu").jqueryAccordionMenu();

	</script>

	<script type="text/javascript">

		$(function () {
			//顶部导航切换
			$("#demo-list li").click(function () {
				$("#demo-list li.active").removeClass("active")
				$(this).addClass("active");
			})
		})	
	</script>

</body>

</html>