<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<title>中學生寫作平台</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- CKeditor CDN -->
  <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
  <!-- bootstrap的CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div id="warp">
		<div id="header">
			<div class="toplogin">
        <a href="/teacherNewsAdd?pageNo=<%= pageNo %>" title="新增範本"><img src="images/append.png" alt="新增範本" width="32" height="32" /></a>
        <a href="/logout/"><img src="images/Lockoff.png" alt="登出管理介面" width="32" height="32" /></a>
			</div>
			<!-- <div class="logo">
				<img src="images/DWonline.png" width="180" height="40" alt="news" />
			</div> -->
		</div>
		<div class="headings">
		  <h2>最新消息 - 管理介面</h2>
		</div>  
    <div class="contentbox">
      <form action="" id="form1" name="form1" method="POST">
        <table width="90%" align="center">
        <tr>
          <th colspan="2" align="left"> 編輯範本</th>
        </tr>
        <tr>
          <td width="20%" valign="baseline"><strong>分類</strong></td>
          <td valign="baseline">
            <select name="news_type" id="news_type">
              <% for(var i=0; i<categories.length; i++) { %>
                <% if(data[0].news_type == categories[i]) { %>
                  <option value=<%= categories[i] %> selected="selected"><%= categories[i] %></option>
                <% } else { %>
                  <option value=<%= categories[i] %>><%= categories[i] %></option>
                <% } %>
              <% } %>
            </select>
          </td>
        </tr>
        <tr>
          <td valign="baseline"><strong>標題</strong></td>
          <td valign="baseline"><input name="news_subject" type="text" id="news_subject" size="45" value="<%= data[0].news_subject %>" /></td>
        </tr>
        <tr>
          <td valign="baseline"><strong>編輯者</strong></td>
          <td valign="baseline"><input type="text" name="news_editor" id="news_editor" value="<%= data[0].news_editor %>" /></td>
        </tr>
        <tr>
          <td><strong>前言</strong></td>
          <td valign="baseline"><textarea name="news_preface" id="news_preface" cols="60" rows="15"><%= data[0].news_preface %></textarea></td>
        </tr>
        <tr>
          <td><strong>正文</strong></td>
          <td valign="baseline"><textarea name="news_content" id="news_content" cols="60" rows="15"><%= data[0].news_content %></textarea></td>
        </tr>
        <tr>
          <td><strong>結論</strong></td>
          <td valign="baseline"><textarea name="news_conclude" id="news_conclude" cols="60" rows="15"><%= data[0].news_conclude %></textarea></td>
        </tr>
        <tr>
          <td><strong>引註資料</strong></td>
          <td valign="baseline"><textarea name="news_reference" id="news_reference" cols="60" rows="15"><%= data[0].news_reference %></textarea></td>
        </tr>
        
        <tr>
          <td valign="baseline"><strong>審核</strong></td>
          <td valign="baseline">
          <% if(data[0].news_ok == 'Yes') { %>
            <input type="radio" name="news_ok" id="news_ok2" value="Yes" checked="checked" />已通過
            <input name="news_ok" type="radio" id="news_ok" value="No" />審核中
          <% } else { %>
            <input type="radio" name="news_ok" id="news_ok2" value="Yes" />已通過
            <input name="news_ok" type="radio" id="news_ok" value="No" checked="checked" />審核中
          <% } %>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><input type="submit" name="button" id="button" value="送出" />
          <input type="button" name="button3" id="button3" value="回主頁面" onclick="window.location='/teacherPage?pageNo=<%= pageNo %>'" /></td>
        </tr>
        </table>
      </form>
    </div>
    <div id="footer">&copy;吳穎沺老師網路與科學學習研究團隊 Copyright© 2018</div>
  </div>
  <!-- CKeditor CND -->
  <script>
    CKEDITOR.replace( 'news_preface' );
    CKEDITOR.replace( 'news_content' );
    CKEDITOR.replace( 'news_conclude' );
    CKEDITOR.replace( 'news_reference' );
  </script>
	<!-- bootstrap的CND -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
