<html>
<% include API/header %>
    <% include API/left_sidebar %>

        <head>
            <meta charset="utf-8">
            <!-- Intro.js v2.7.0 -->
            <link href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.7.0/introjs.min.css" rel="stylesheet" />
            <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.7.0/intro.min.js"></script>
            <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
                crossorigin="anonymous">
            <!-- jQuery v1.9.1 -->
            <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.1/jquery.fancybox.min.css">
            <!-- bootstrap的CND -->
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
            <script src="/js/jquery-3.3.1.min.js"></script>
            <script>
                document.getElementById('start').addEventListener('click', function () {
                    introJs().start();
                });
            </script>
            <style>
                .Preface,
                .out_Content,
                .Conclude,
                .Reference {
                    width: 700px;
                }

                #tool_content {
                    margin-bottom: 10px;
                    width: 100%;
                    height: 520px;
                    background: white;
                    /* border: 5px solid #6699CC; */
                }
            </style>
        </head>

        <body>
            <!--  -->
            <div class="container-fluid">

                <div class="row">
                    <div id="tool_content" onclick="">
                        <iframe id="frame_url" src="/project_Map?p_id=<%=p_id%>" width="100%" height="670px;" style="border-style:none;"></iframe>
                    </div>
                </div>
                <div class="row">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist" style="margin-left: 440px;">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
                                aria-selected="true">前言</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
                                aria-selected="false">正文</a>
                            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact"
                                aria-selected="false">結論</a>
                            <a class="nav-item nav-link" id="nav-conclude-tab" data-toggle="tab" href="#nav-conclude" role="tab" aria-controls="nav-conclude"
                                aria-selected="false">引註資料</a>
                        </div>
                    </nav>
                </div>
                <div class="row justify-content-md-center">
                    <div class="tab-content" id="nav-tabContent">
                        <!-- 前言分頁 -->
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="" id="outlinebox1" name="outlinebox1">

                                <% for(var x=1; x <sp_Preface.length; x++) { %>
                                    <div>
                                        <br>第
                                        <%= x %>段大綱</br>
                                            <textarea name="Preface" class="Preface" id="Preface<%= x %>" cols="70" rows="7"><%=sp_Preface[x-1]%></textarea>
                                    </div>
                                    <% } %>

                            </div>
                            <div id="fun1">
                                <button type="button" id="add1">新增一段大綱</button>
                                <button type="button" id="delete1">刪除一段大綱</button>
                                <input type="submit" id="outlinesave1" onclick=aaa() value="送出" />
                            </div>
                        </div>

                        <!-- 正文分頁 -->
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div class="" id="outlinebox2" name="outlinebox2">

                                <% for(var y=1; y <sp_Content.length; y++) { %>
                                    <div>
                                        <br>第
                                        <%= y %>段大綱</br>
                                            <textarea class="out_Content" id="out_Content<%= y %>" cols="70" rows="7"><%=sp_Content[y-1]%></textarea>
                                    </div>
                                    <% } %>

                            </div>
                            <div id="fun">
                                <button type="button" id="add2">新增一段大綱</button>
                                <button type="button" id="delete2">刪除一段大綱</button>
                                <input type="submit" id="outlinesave2" onclick="bbb()" value="送出" />
                            </div>
                        </div>

                        <!-- 結論分頁 -->
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                            <div class="" id="outlinebox3" name="outlinebox3">

                                <% for(var y=1; y <sp_Conclude.length; y++) { %>
                                    <div>
                                        <br>第
                                        <%= y %>段大綱</br>
                                            <textarea class="Conclude" id="Conclude<%= y %>" cols="70" rows="10"><%=sp_Conclude[y-1]%></textarea>
                                    </div>
                                    <% } %>

                            </div>
                            <div id="fun">
                                <button type="button" id="add3">新增一段大綱</button>
                                <button type="button" id="delete3">刪除一段大綱</button>
                                <input type="submit" id="outlinesave3" onclick="ccc()" value="送出" />
                            </div>
                        </div>

                        <!-- 引註資料分頁 -->
                        <div class="tab-pane fade" id="nav-conclude" role="tabpanel" aria-labelledby="nav-conclude-tab">
                            <div class="" id="outlinebox4" name="outlinebox4">

                                <% for(var y=1; y <sp_Reference.length; y++) { %>
                                    <div>
                                        <br>第
                                        <%= y %>段大綱</br>
                                            <textarea class="Reference" id="Reference<%= y %>" cols="70" rows="10"><%=sp_Reference[y-1]%></textarea>
                                    </div>
                                    <% } %>

                            </div>
                            <div id="fun">
                                <button type="button" id="add4">新增一段大綱</button>
                                <button type="button" id="delete4">刪除一段大綱</button>
                                <input type="submit" id="outlinesave4" onclick="ddd()" value="送出" />
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <!--  -->



            <script>
                //新增大綱段落
                $(document).ready(function () {
                    // $('.Preface').click(function () { alert('clicked'); });

                    $("#add1").click(function () {
                        var num1 = $(".Preface").length + 1
                        $("<div><br>第" + num1 + "大綱</br><textarea class= Preface id=Preface" + num1 + "></textarea></div>").appendTo("#outlinebox1");
                    });

                    $("#add2").click(function () {
                        var num2 = $(".out_Content").length + 1
                        alert(num2);
                        $("<div><br>第" + num2 + "大綱</br><textarea class= out_Content id=out_Content" + num2 + "></textarea></div>").appendTo("#outlinebox2");
                    });

                    $("#add3").click(function () {
                        var num3 = $(".Conclude").length + 1
                        alert(num3);
                        $("<div><br>第" + num3 + "大綱</br><textarea class= Conclude id=Conclude" + num3 + "></textarea></div>").appendTo("#outlinebox3");
                    });
                    $("#add4").click(function () {
                        var num4 = $(".Reference").length + 1
                        alert(num4);
                        $("<div><br>第" + num4 + "大綱</br><textarea class= Reference id=Reference" + num4 + "></textarea></div>").appendTo("#outlinebox4");
                    });


                    $("#delete1").click(function () {
                        alert($(".Preface").length);
                        if ($(".Preface").length > 0) {
                            $("#outlinebox1 div").last().remove();
                        }
                        else {
                            alert("不能小於一段");
                        }
                    });
                    $("#delete2").click(function () {
                        alert($(".out_Content").length);
                        if ($(".out_Content").length > 0) {
                            $("#outlinebox2 div").last().remove();
                        }
                        else {
                            alert("不能小於一段");
                        }
                    });
                    $("#delete3").click(function () {
                        alert($(".Conclude").length);
                        if ($(".Conclude").length > 0) {
                            $("#outlinebox3 div").last().remove();
                        }
                        else {
                            alert("不能小於一段");
                        }
                    });
                    $("#delete4").click(function () {
                        alert($(".Reference").length);
                        if ($(".Reference").length > 0) {
                            $("#outlinebox4 div").last().remove();
                        }
                        else {
                            alert("不能小於一段");
                        }
                    });


                    $("#outlinesave1").click(function () {
                        var a = ""
                        for (var i = 1; i <= $(".Preface").length; i++) {

                            a = a + $("#Preface" + i).val() + "<!>"
                        }

                    });
                    $("#outlinesave2").click(function () {
                        var a = ""
                        for (var i = 1; i <= $(".out_Content").length; i++) {

                            a = a + $("#out_Content" + i).val() + "<!>"
                        }

                    });
                    $("#outlinesave3").click(function () {
                        var a = ""
                        for (var i = 1; i <= $(".Conclude").length; i++) {

                            a = a + $("#Conclude" + i).val() + "<!>"
                        }

                    });
                    $("#outlinesave4").click(function () {
                        var a = ""
                        for (var i = 1; i <= $(".Reference").length; i++) {

                            a = a + $("#Reference" + i).val() + "<!>"
                        }

                    });

                });

                //儲存大綱到資料庫
                function aaa() {
                    var a = ""
                    for (var i = 1; i <= $(".Preface").length; i++) {

                        a = a + $("#Preface" + i).val() + "<!>"
                    }
                    console.log(a);
                    var url = location.search;
                    var rid;
                    if (url.indexOf("?") != -1) {
                        var str = url.substr(1);
                        // str.split("=")[0] 為 userID
                        rid = str.split("=")[1];
                        console.log(rid);
                    }
                    if (rid == undefined) {
                        rid = '';

                    }
                    // var outline = "";
                    // $('.outline').each(function () {
                    //     outline += $(this).val() + ",";
                    // });
                    $.ajax({
                        url: "/controller",
                        method: "post",
                        data: {
                            action: "save_Preface",
                            outline1: a,
                            p_id: rid
                        },
                        success: function (data) {
                            location.reload();
                            alert(data);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log(textStatus, errorThrown);
                        }
                    });
                }
                function bbb() {
                    var a = ""
                    for (var i = 1; i <= $(".out_Content").length; i++) {

                        a = a + $("#out_Content" + i).val() + "<!>"
                    }
                    console.log(a);
                    var url = location.search;
                    var rid;
                    if (url.indexOf("?") != -1) {
                        var str = url.substr(1);
                        // str.split("=")[0] 為 userID
                        rid = str.split("=")[1];
                        console.log(rid);
                    }
                    if (rid == undefined) {
                        rid = '';

                    }
                    // var outline = "";
                    // $('.outline').each(function () {
                    //     outline += $(this).val() + ",";
                    // });
                    $.ajax({
                        url: "/controller",
                        method: "post",
                        data: {
                            action: "save_Content",
                            outline1: a,
                            p_id: rid
                        },
                        success: function (data) {
                            location.reload();
                            alert(data);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log(textStatus, errorThrown);
                        }
                    });
                }

                function ccc() {
                    var a = ""
                    for (var i = 1; i <= $(".Conclude").length; i++) {

                        a = a + $("#Conclude" + i).val() + "<!>"
                    }
                    console.log(a);
                    var url = location.search;
                    var rid;
                    if (url.indexOf("?") != -1) {
                        var str = url.substr(1);
                        // str.split("=")[0] 為 userID
                        rid = str.split("=")[1];
                        console.log(rid);
                    }
                    if (rid == undefined) {
                        rid = '';

                    }
                    // var outline = "";
                    // $('.outline').each(function () {
                    //     outline += $(this).val() + ",";
                    // });
                    $.ajax({
                        url: "/controller",
                        method: "post",
                        data: {
                            action: "save_Conclude",
                            outline1: a,
                            p_id: rid
                        },
                        success: function (data) {
                            location.reload();
                            alert(data);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log(textStatus, errorThrown);
                        }
                    });
                }
                function ddd() {
                    var a = ""
                    for (var i = 1; i <= $(".Reference").length; i++) {

                        a = a + $("#Reference" + i).val() + "<!>"
                    }
                    console.log(a);
                    var url = location.search;
                    var rid;
                    if (url.indexOf("?") != -1) {
                        var str = url.substr(1);
                        // str.split("=")[0] 為 userID
                        rid = str.split("=")[1];
                        console.log(rid);
                    }
                    if (rid == undefined) {
                        rid = '';

                    }
                    // var outline = "";
                    // $('.outline').each(function () {
                    //     outline += $(this).val() + ",";
                    // });
                    $.ajax({
                        url: "/controller",
                        method: "post",
                        data: {
                            action: "save_Reference",
                            outline1: a,
                            p_id: rid
                        },
                        success: function (data) {
                            location.reload();
                            alert(data);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log(textStatus, errorThrown);
                        }
                    });
                }

            </script>
        </body>

</html>